html {
	margin: 0;
	padding: 0;
	height: 100%;
    background-color: black;
	}


body { 
    font: 100% arial, sans-serif;
    line-height: 1.8em;
    color: white; 
    margin-left: 10%; 
        margin-right: 10%;
        height: 100%;
    }

h2 { 
    font: bold 2em arial;
    color: white;
    text-align: center;
    letter-spacing: 0.1em; 
}

p{
    font: 1em;
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
}
.text{
    font: 1em;
    padding-bottom: 15%;
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
}

div{
    background-color: #777;
}
iframe{
    display:block;
    border-style:none;
    margin: 0 auto;
}